body {
  background: url(12_col.gif) center top repeat-y;
  background-size: 90%;
}

section {
  border: 1px solid #333;
}
.inner-grid{
  display: grid;
  grid-column: 1 / span 12;
  border: 1px solid #000; 
  grid-gap: 2% 2%;
  grid-template-columns: repeat(12, 1fr);
  padding: 1%;  
}


.header {
  grid-area: header;
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.content1{
  grid-area: content1;
}

.sidebar{
  grid-area: sidebar;
}

.footer1{
  grid-column: span 3;
  grid-row: 1;
}
.footer2{
  grid-column: span 3;
  grid-row: 1;
}
.footer3{
  grid-column: span 3;
  grid-row: 1;
}
.footer4{
  grid-column: span 3;
  grid-row:1;
}



.container {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 200px);
  grid-template-areas:
    'header header  header header header header header header header header header header'
    'box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3'
    'content1 content1 content1 content1 content1 content1 content1 content1 content1 sidebar sidebar sidebar'
    'footer1 footer1 footer1 footer2 footer2 footer2 footer3 footer3 footer3 footer4 footer4 footer4';
  grid-gap: 2% 2%;
}




/* smaller screens */
@media screen and (max-width: 1200px){

  .container{
    grid-template-areas: 
    'header header  header header header header header header header header header header'
    'box1 box1 box1 box2 box2 box2 box2 box2 box2 box3 box3 box3'
    'content1 content1 content1 content1 content1 content1 content1 content1 sidebar sidebar sidebar sidebar'
    'footer1 footer1 footer1 footer2 footer2 footer2 footer3 footer3 footer3 footer4 footer4 footer4';
  }
}



/* Tablet view */
@media screen and (max-width: 960px){
  .inner-grid{
    grid-area: inner-grid;
  }
  
  .container{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: 
    'header header header header header header'
    'box1 box1 box2 box2 box3 box3'
    'content1 content1 content1 sidebar sidebar sidebar'
    'inner-grid inner-grid inner-grid inner-grid inner-grid inner-grid';
  }

}


/* Mobil view */
@media screen and (max-width: 768px){
  .inner-grid{
    padding: 2%;
    grid-area: inner-grid;
    grid-row: span 4;
    grid-template-rows: repeat(4, 200px);
    grid-template-columns: repeat(1, 1fr);
  }


  .container{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 200px);
    grid-template-areas: 
    'header'
    'box1'
    'box2'
    'box3'
    'content1'
    'sidebar'
    'inner-grid'
    'inner-grid'
    'inner-grid'
    'inner-grid'
  }

    .footer1{
    grid-column: span 12;
    grid-row: 1;
  }
  .footer2{
    grid-column: span 12;
    grid-row: 2;
  }
  .footer3{
    grid-column: span 12;
    grid-row: 3;
  }
    .footer4{
    grid-column: span 12;
      grid-row:4;
  }

}




